@font-face {
    font-family: OpenSansCondensed;
    src: url(../fonts/OpenSansCondensed.ttf);
}

@font-face {
    font-family: PTSansBold;
    src: url(../fonts/PTSansBold.ttf);
}

@font-face {
    font-family: PTSansRegular;
    src: url(../fonts/PTSansRegular.ttf);
}

.body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #dcdcdc;
    width: auto;
    height: 230px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.header__logo {
    height: 100px;
    width: 273px;
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 256px;
}

.header__number {
    font-family: OpenSansCondensed, serif;
    font-size: 40px;
    font-weight: 300;
    color: #767676;
}

.header__number-item {
    padding: 0;
    margin: 0;
}

.header__feedback {
    width: 171px;
    height: 22px;
    text-align: right;
}

.header__feedback-dashed {
    padding: 0;
    margin: 0;
    font-family: PTSansBold, serif;
    font-size: 24px;
    text-align: center;
    color: #767676;
    border-bottom: 2px dashed #767676;
}

.main__nav {
    background-color: #777777;
    height: 80px;
    width: auto;

}

.nav__list {
    display: flex;
    padding-top: 25px;
    margin: 0;
    font-family: PTSansRegular, serif;
    color: #ffffff;
    font-size: 30px;
    justify-content: center;
}

.nav__item {
    border-right: 2px solid white;
    padding: 0 24px;
}

.nav__item:nth-child(5n) {
    border: none;
}

.nav__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main__slider {
    background: url("../img/slide1.png") no-repeat center top /cover;
    height: 659px;
    width: auto;
}

.slider__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
}

.crumbs__menu {
    display: flex;
    justify-content: flex-start;
    color: #767676;
}

.crumbs__menu-item {
    text-decoration: underline;
    font-size: 20px;
}

.crumbs__menu-item:last-child {
    text-decoration: none;
}

.main__content {
    display: flex;
}

.content__item {
    display: flex;
    justify-content: space-between;
}

.content__nav {
    display: flex;
    width: 306px;
    justify-content: start;
    flex-direction: column;
}

.content__nav-menu {
    font-family: PTSansRegular, serif;
    font-size: 22px;
    color: #767676;
}

.content__nav-text:nth-child(2) {
    border-bottom: 2px solid #767676;
    width: 161px;
}

.content__nav-dots {
    font-size: 16px;
}

.content__nav-dots:nth-child(1) {
    border-bottom: 2px solid #767676;
    width: 113px;
}

.content__nav-excel {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-direction: column;
}

.content__nav-excel-img {
    display: flex;
    justify-content: center;
}

.content__nav-excel-text {
    font-family: PTSansBold, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.content__cards-titles {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1194px;
}

.content__cards {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.content__cards-item {
    background-color: #dcdcdc;
    width: 381px;
    height: 540px;
    display: inline-block;
    align-items: stretch;
    margin-right: 20px;
    margin-bottom: 30px;
}

.content__cards-item:nth-child(3) {
    margin-right: 0;
}

.content__cards-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 40px;
    width: 301px;
    height: 460px;
}

.content__cards-img {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.content__cards-text {
    font-size: 18px;
    font-family: PTSansRegular, serif;
    color: #767676;
    margin: 0;
    padding-top: 22px;
    width: 100%;
}

.content__cards-footer {
    margin: 0;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.content__cards-price {
    font-family: PTSansBold, serif;
    font-size: 28px;
    color: #444444;
    margin: 0;
    padding: 0;
}

.content__cards-price-item {
    margin: 0;
    padding: 0;
}

.content__cards-text-item {
    margin: 0;
    padding: 0;
}

.content__cards-basket {
    height: 25px;
    width: 33px;
}

.content__cards-number {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
    border-bottom: 1px solid #777777;
}

.content__cards-number-block {
    font-family: PTSansRegular, serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #767676;
    width: 184px;
    padding-top: 35px;
}

.content__cards-number-item {
    margin: 0;
    padding: 0;
}

.content__cards-number-item:nth-child(3) {
    font-size: 20px;
    color: #444444;
}

.content__text {
    width: 100%;
    height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: PTSansRegular, serif;
    color: #767676;
    font-size: 21px;
    padding-top: 50px;
    padding-bottom: 400px;
}

.сontent__text-block-1 {
    width: 371px;
}

.сontent__text-block-1 {
    width: 371px;
}

.footer {
    background-color: #777777;
    height: 250px;
    width: auto;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: PTSansRegular, serif;
    font-size: 16px;
    color: white;
    padding-top: 60px;
    line-height: 1.86;
}

.footer__content-menu-item {
    text-decoration: underline
}

.footer__content-dev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content-dev-img {
    padding: 8px 9px 0 0;
}

.underline {
    text-decoration: underline;
}

.fix {
    margin: 0;
    padding: 0;
}